<%- include('./partials/header.ejs') %>

<%- include('./partials/nav.ejs') %>

<section class="placeholder">
        <img src="/static/img/logo.svg" alt="logo">
        <h2>Aj aj aj, Grinchen har varit i farten</h2>
        <p>Stackars liten, Grinchen har satt igång med sina hyss och har stulit ditt paket eller så har tomenissarna glömt att packa ner det i min säck. För jag kan inte hitta filmen som du letar efter.
        </p>
</section>
<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>

</body>

</html>